body {
  background-color: #9a67ea;
  font-family: monospace;
  margin: 0;
  max-width: 100%;
}

header {
  position: relative;
  max-width: 100%;
  padding: 2.5rem;
}

#canvas {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

h1, h2, p, .games-list a {
  color: #dadada;
}

h1, h2 {
  text-align: center;
}

main {
  margin: auto auto 3rem;
  max-width: 70%;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

p:first-of-type {
  margin-top: 4rem;
}

.games-list {
  padding-left: 0;
}

.games-list li {
  list-style: none;
}

.games-list a {
  display: inline-block;
}

figure {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  max-width: 70%;
  transition: all 0.5s ease-in-out;
  width: auto;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

 .games-list a:hover figure {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   max-width: 80%;
 }

footer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  color: #fff;
  flex-flow: row wrap;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 0 2rem;
}

footer {
  color: #fff;
}

.signature a {
  color: #cacaca;
  transition: all 0.3s ease-in-out;
}

.signature a:hover {
  color: #fff;
}

.contacts-list {
  padding-left: 0;
}

.contacts-list li {
  /*display: inline-block;*/
  list-style: none;
  text-align: left;
}

.contacts-list li:last-child {
  margin-top: 0.5rem;
}

.contacts-list li a {
  text-decoration: none;
}

.social-media-list {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0;
}

.social-media-list li {
  display: inline-block;
}

.social-media-list li a {
  /*background-color: #9a67ea;*/
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 1.5rem;
  line-height: 1.2rem;
  margin-left: 1rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 1.5rem;
}

.social-media-list li a:hover {
  background-color: #fff;
  color: #9a67ea;
}

@media (max-width: 768px) {
  header {
    padding: 1.5rem;
  }

  main {
    margin: auto auto 3rem;
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem
  }

  p {
    font-size: 1rem;
  }

  .signature {
    margin: 2rem 0 1rem;;
  }

  .signature a {
    display: block;
  }
}
